@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  --header-font-family: 'Josefin Sans', sans-serif;
  --content-font-family: 'Merriweather', serif;
  --primary-color: white;
  --seconday-color: #6D28D9;
}

.color {
  color: black;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--seconday-color);
  color: var(--primary-color);
  flex: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.header-header {
  margin-top: 16px;
  font-family: var(--header-font-family);
  font-size: 3rem;
  padding-bottom: 16px;
  align-self: center;
}

.header-profile .header-header {
  display: none;
}


header img {
  align-self: center;
}

.hl-name {
  font-weight: bold;
  color: yellow;
}

header img {
  padding-bottom: 32px;
}

.header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me {
  padding: 16px;
  text-align: center;

  font-family: var(--content-font-family);
  font-size: 1.2rem;
}

.links {
  margin: 32px;
  font-size: 3rem;
}

.links a {
  text-decoration: none;

}

header .links a {
  margin-left: 1.5rem;
}

header .links a:first-child {
  margin-left: inherit;
}



.projects-parent img {
  width: 100%;
}


main {
  display: flex;
  flex-direction: column;
}

.main-header {
  font-size: 3rem;
  font-family: var(--header-font-family);
  margin-top: 36px;
  margin-bottom: 24px;
  align-self: center;
  text-align: center;
}

.projects-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px 0 24px;
}

.exclusive-link {
  color: red;
}

.exclusive-link:hover {
  color: var(--seconday-color)
}

.project-container {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 8px var(--seconday-color);
  margin-bottom: 32px;
}

.project-header {
  text-align: center;
  margin-top: 16px;
  font-size: 2rem;
  font-family: var(--header-font-family);
}

.project-content {
  margin: 24px;
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--content-font-family);
}

main .links {
  display: flex;
  align-items: center;
}


main .links img {
  display: inline;
  width: 3.4rem;
  margin-left: 32px;
  margin-top: 4px;
}


footer {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--seconday-color);
  color: var(--primary-color)
}

.footer-header {
  text-align: center;
  font-family: var(--header-font-family);
  font-size: 3rem;
}

.footer-content {
  text-align: center;
  font-size: 1.3rem;
  padding: 12px;
  font-family: var(--content-font-family);
}

.contact {
  display: flex;
  align-items: center;
}

.contact img {
  width: 2rem;
}

.contact a {
  margin-left: 8px;
  color: yellow;
  font-family: var(--content-font-family);
  font-size: 1.2rem;
  text-decoration: none;
}

.contact a:hover {
  color: white;
}


/* 
  Implement Responsiveness

*/


/* For tablets */
@media (min-width: 650px) {
  .header-header {
    display: none;
  }

  .header-profile .header-header {
    display: block;
  }

  header {
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  header img {
    margin-left: 48px;
  }

  .projects-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .project-container:nth-child(1),
  .project-container:nth-child(2) {
    min-height: 400px;
  }
  .project-container {
    min-height: 600px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }

  .project-container .links {
    margin-top: auto;
  }
}


/* For pcs */

@media (min-width: 1200px) {

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  header .about-me {
    width: 800px;
  }

  .projects-parent {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-container {
    margin-left: 32px;
    margin-right: 32px;
    min-height: 600px;
  }

  .project-container:nth-child(1),
  .project-container:nth-child(2) {
    min-height: 600px;
  }

}