@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  --header-font-family: 'Josefin Sans', sans-serif;
  --content-font-family: 'Merriweather', serif;
  --primary-color: white;
  --seconday-color: #0C4A6E;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--seconday-color);
  color: var(--primary-color);
  flex: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}

.header-header {
  margin-top: 16px;
  font-family: var(--header-font-family);
  font-size: 3rem;
  padding-bottom: 16px;
  align-self: center;
}

.hl-name {
  color: #86198F;
}

header img {
  padding-bottom: 32px;
}

.header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me {
  padding: 16px;
  text-align: center;
  background-color: white;
  color: black;
  font-family: var(--content-font-family);
  font-size: 1.2rem;
}

.links {
  margin: 16px;
  font-size: 3rem;
}

.links a {
  text-decoration: none;

}

header .links a {
  margin-left: 1.5rem;
}

header .links a:first-child {
  margin-left: inherit;
}



.projects-parent img {
  width: 100%;
}


main {
  display: flex;
  flex-direction: column;
}

.main-header {
  font-size: 3rem;
  font-family: var(--header-font-family);
  margin-top: 12px;
  margin-bottom: 24px;
  align-self: center;
  text-align: center;
}

.projects-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px 0 24px;
}

.project-container {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 8px var(--seconday-color);
  margin-bottom: 32px;
}

.project-header {
  text-align: center;
  margin-top: 16px;
  font-size: 2rem;
  font-family: var(--header-font-family);
}

.project-content {
  margin: 24px;
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--content-font-family);
}

main .links {
  display: flex;
  align-items: center;
}


main .links img {
  display: inline;
  width: 3.4rem;
  margin-left: 32px;
  margin-top: 4px;
}




footer {
}